* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
}



/* Navigation bar*/
.logo img{
    height: 50px;
    margin-left: 10px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    text-decoration: underline;
    gap: 20px;
    margin-right: 10px;
}



/* Our Mission Section */
.upper-section {
    background-image: url("assets/images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-mission {
    background-color: black;
    text-align: center;
    width: 100%;
}


/* Tea of the month */

.headings {
    text-align: center;
}

.menu-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 1000px;
    margin: 0 auto;
}

.menu-item {
    text-align: center;
}

.menu-item p {
    margin-top: 10px;
}

.menu-photos img{
    height: 200px;
    width: 300px;
}

/* Locations */

.lcoations-heading
{
    margin-bottom: 15px;
}

.locations-section {
     background-image: url("assets/images/img-locations-background.jpg");
     height: 500px;
     width: 1200px;
     margin: 0 auto;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.locations {
    display: flex;
    gap: 40px;
    opacity: 1;
}

.location-item {
    background-color: black;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}


/* The Tea Cozy */

.the-tea-cozy {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    margin-bottom: 100px;
}

/* Footer */

footer {
    text-align: left;
    padding-left: 20px;
}